#bloque-admin
	aside
		.content-block
			.block-title
				h3
					span.icon-orange Reporte Matríz
				ul
					li
						each lista in ['Subir Plantilla','Editar Plantilla','Importar Cursos','Cursos Asociados']
							a(href='#')
								span.icon-orange= lista
		.content-block
			.block-title
				h3
					span.icon-orange Encuestas
				ul
					li
						each lista in ['Subir Plantilla','Editar Plantilla','Importar Cursos','Cursos Asociados']
							a(href='#')
								span.icon-orange= lista
		.content-block
			.block-title
				h3
					span.icon-orange Reporte 2014
				ul
					li
						each lista in ['Subir Plantilla','Editar Plantilla','Importar Cursos','Cursos Asociados']
							a(href='#')
								span.icon-orange= lista
		.content-block
			.block-title
				h3
					span.icon-orange Reporte 2013
				ul
					li
						each lista in ['Subir Plantilla','Editar Plantilla','Importar Cursos','Cursos Asociados']
							a(href='#')
								span.icon-orange= lista
		.content-block
			.block-title
				h3
					span.icon-orange Johnny y s
				ul
					li
						each lista in ['Subir Plantilla','Editar Plantilla','Importar Cursos','Cursos Asociados']
							a(href='#')
								span.icon-orange= lista