#bloque-admin.table-color-2
	aside
		.content-block
			h3 Reporte Matríz
				ul
					li
						each lista in ['Subir Plantilla','Editar Plantilla','Importar Cursos','Cursos Asociados']
							a(href='#')= lista
		.content-block
			h3 Encuestas
				ul
					li
						each lista in ['Subir Plantilla','Editar Plantilla','Importar Cursos','Cursos Asociados']
							a(href='#')= lista
		.content-block
			h3 Reporte 2014
				ul
					li
						each lista in ['Subir Plantilla','Editar Plantilla','Importar Cursos','Cursos Asociados']
							a(href='#')= lista
		.content-block
			h3 Reporte 2013
				ul
					li
						each lista in ['Subir Plantilla','Editar Plantilla','Importar Cursos','Cursos Asociados']
							a(href='#')= lista
		.content-block
			h3 Johnny y s
				ul
					li
						each lista in ['Subir Plantilla','Editar Plantilla','Importar Cursos','Cursos Asociados']
							a(href='#')= lista